.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.disabled {
  pointer-events:none;
  color:#AAA;
  background:#F5F5F5;
}

.item {
  /* margin: 10px 10px 0px 100px; */
  flex-basis: 100%;
  flex: 1;
  display: flex;
  align-self: center;
}

.profileRow {
  margin-top: 10px;
  margin-left: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.mainNav {
  list-style-type: none;
  margin: 20px;
  padding: 40px;
}

.leftNav {
  float: left;
}

.rightNav {
  float: right;
}

.signOut {
  display: none;
}

.avatar {
  cursor: pointer;
}

.avatar:hover .email {
  display: none;
}

.avatar:hover .signOut {
  display: inline;
}

li {
  margin: 20px 10px;
}

input {
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px;
  margin: 10px;
}

.App-link {
  color: #61dafb;
}
