.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.item {
  margin: 20px 40px;
}

.mainNav {
  list-style-type: none;
  margin: 20px;
  padding: 40px;
}

.leftNav {
  float: left;
}

.rightNav {
  float: right;
}

.signOut {
  display: none;
}

.avatar:hover .email {
  display: none;
}

.avatar:hover .signOut {
  display: inline;
}

li {
  margin: 20px 10px;
}

input {
  padding: 10px;
  margin: 10px;
}

button {
  padding: 10px;
  margin: 5px;
}

button {
  margin: 10px;
}

.App-link {
  color: #61dafb;
}
